services:
  localstack:
    container_name: "viestinvalitys-localstack"
    build:
      context: ./localstack
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      - DEBUG=${DEBUG-}
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
  postgres:
    container_name: "viestinvalitys-postgres"
    build:
      context: ./postgres
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U viestinvalityspalvelu" ]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=app
      - POSTGRES_DB=viestinvalityspalvelu
  mailcatcher:
    container_name: "mailcatcher"
    image: "sj26/mailcatcher"
    ports:
      - "127.0.0.1:1025:1025"
      - "127.0.0.1:1080:1080"

